@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="row">

    <!-- Weather card -->
    <div style="margin:10px;">
        @Html.Action("UvCard")
    </div>
    <!-- Weather card -->
    <!-- Precaution List Card2 -->
    <div style="margin:10px;">
        @Html.Action("Precautions2")
    </div>
    <!-- Precaution List Card -->
    <!--Activities-->
    <div style="margin:10px;">

        @Html.Action("Activities")
    </div>
    <!--==========-->

    <div style="margin:10px;">
        @Html.Action("Sunburn_treatment")
    </div>
    
    <!--UVHarm-->
    <div style="margin:10px;">
        @Html.Action("UVHarm")
    </div>
    <!--==========-->
</div>
