@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div id="container" class="row d-flex flex-direction">

    <!-- Weather card -->

    <div class="row align-self-center justify-content-center" style="margin:10px;">
        @Html.Action("UvCard")
        @Html.Action("WeatherCard")
    </div>
        <!-- Weather card -->
        <!-- Precaution List Card2 -->
        <div style="margin:10px;">
            @Html.Action("Precautions")
        </div>
        <!-- Precaution List Card -->
        <!--Activities-->
        <div style="margin:10px;">

            @Html.Action("Activities")
        </div>
        <!--==========-->
        <!-- Sunburn treatment-->
        <div style="margin:10px;">
            @Html.Action("Sunburn_treatment")
        </div>
        <!--===========-->
        <!--UVHarm-->
        <div style="margin:10px;">
            @Html.Action("UVHarm")
        </div>
        <!--==========-->
        <!-- Assessment -->
        <div style="margin:10px">
            @Html.Action("Assessment")
        </div>
        <!--==========-->
        <!--Charts-->
        <div style="margin:10px;">
            @Html.Action("Charts")
        </div>
        <!--==========-->
    </div>
